*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details{
    background-color: greenyellow;
    flex: 3 0 auto; /*harus pake ini*/
    /* flex: 3; gabisaaaaaaaa */
    /* min-width: 200px; ini tadi karena ga ketemu-ketemu */ 
}

.comments{
    background-color: cadetblue;
    flex: 1 0 auto;
}
.submit{
    background-color: brown;
    margin-top: auto;
}